.container{
  background-color: black;
  height: 600px;
  width: 600px;
  border-radius: 50%;
  /*box-shadow: 10px -10px  rgba(0,0,0,0.6);
	-moz-box-shadow: 10px -10px  rgba(0,0,0,0.6);
	-webkit-box-shadow: 10px -10px  rgba(0,0,0,0.6);
	-o-box-shadow: 10px -10px  rgba(0,0,0,0.6);*/
	
}


#magic8{
  font-size: 10em;
  color: black;
  position: relative;
  top: 30px;
  text-align: center;
}

#inner-circle{
  background-color: white;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  position: relative;
  top: 30px;
  left: 150px;
}

#answer{
  text-align: center;
  position: relative;
  top: 200px;
  color: white;

}
